In [1]:
%load_ext autoreload
%autoreload 2
import models
import orca
from urbansim.maps import dframe_explorer

In [ ]:
d = {tbl: orca.get_table(tbl).to_frame() for tbl in ['buildings', 'jobs', 'households', 'zones', 'zones_prices']}

Filling column non_residential_rent with value 0 (142400 values)
Filling column residential_units with value 0 (0 values)
Filling column year_built with value 1927.0 (3116 values)
Filling column residential_sales_price with value 0 (14196 values)
Filling column non_residential_sqft with value 0 (1341 values)
Filling column building_type_id with value 2.0 (0 values)
Filling column job_category with value service (331 values)

In [ ]:
dframe_explorer.start(d, 
        center=[37.7792, -122.2191],
        zoom=11,
        shape_json='data/zones.json',
        geom_name='ZONE_ID', # from JSON file
        join_name='zone_id', # from data frames
        precision=2)

Bottle v0.12.7 server starting up (using WSGIRefServer())...
Listening on http://localhost:8765/
Hit Ctrl-C to quit.

127.0.0.1 - - [14/Aug/2014 17:11:55] "GET / HTTP/1.1" 200 28075
127.0.0.1 - - [14/Aug/2014 17:11:55] "GET /data/zones.json HTTP/1.1" 200 7389418
127.0.0.1 - - [14/Aug/2014 17:11:57] "GET /favicon.ico HTTP/1.1" 404 742

df.groupby('zone_id')['income'].mean()
df.groupby('zone_id')['income'].quantile(.5)

127.0.0.1 - - [14/Aug/2014 17:12:08] "GET /map_query/households/empty/zone_id/income/mean() HTTP/1.1" 200 4803
127.0.0.1 - - [14/Aug/2014 17:12:23] "GET /map_query/households/empty/zone_id/income/quantile(.5) HTTP/1.1" 200 2920

df.groupby('zone_id')['income'].quantile(.75)
df.query('income > 30000').groupby('zone_id')['income'].quantile(.75)

127.0.0.1 - - [14/Aug/2014 17:12:27] "GET /map_query/households/empty/zone_id/income/quantile(.75) HTTP/1.1" 200 3031
/Users/ffoti/anaconda/lib/python2.7/site-packages/pandas/computation/ops.py:62: DeprecationWarning: object() takes no parameters
  return supr_new(klass, name, env, side=side, encoding=encoding)

[Click here to navigate maps](http://localhost:8765/)